.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  
  height: 30px;
  max-width: 88px;
  border: 1px solid #4883AF;
  box-sizing: border-box;
  border-radius: 5px;
  background: #3D8CCE;
  > .label {
    color: #ffffff;
    padding:0 1.8rem;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.2rem;
  }
  &:disabled {
    background: #cccccc;
    border-color: #888888;
    > .label {
      color: #666666;
    }
  }
  &:hover {
    background: #5DACEE;
    &:disabled {
      background: #eeeeee;
    }
  }
}
